canvas {
    border: thin solid gray
}

input[type=text] {
    width: 80px ;
    padding: 10px;
}
input[type=range] {
    width: 200px ;
}

#params, #time {
    font-size: large;
    margin-left: 50px;
}

#resetButton {
    background-color: brown;
}