canvas {
    border: thin solid gray
}

input[type=text] {
    width: 80px ;
    padding: 10px;
}
input[type=range] {
    width: 200px ;
}
input[type=radio] {
    margin: 0;
}

select {
    width: 150px ;
}
#params, #time, #info {
    font-size: large;
    margin-left: 50px;
}

#resetButton {
    background-color: brown;
}
label {
    margin: 0px;
    padding: 0;
}